<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Agrega aquí tus etiquetas meta, título y otros encabezados -->
</head>
<body>
    <div class="menu-vertical">
        <ul>
            <li><a href="{{ url_for('atencion_salud') }}">Atención salud</a></li>
            <li><a href="{{ url_for('auto_designados') }}">Auto designado</a></li>
            <li><a href="{{ url_for('canales_ingresos') }}">Canales de ingreso</a></li>
            <!-- Agrega más enlaces a otras rutas aquí -->
        </ul>
    </div>

    <!-- Aquí puedes agregar el contenido principal de tu página parametricas.html -->

</body>
</html>
